
body{
    margin: 0px;
    padding: 0px;
    width: 375px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 44px;
}

.header1-1{
width: 54px;
height: 21px;
padding-top: 13px;
padding-left: 21px;
}
time{
    font-family: roboto;
    font-size: 14px;
    font-weight: 800;
}
.header1-2{
    width: 66.66px;
    height: 11.34px;
    padding-top: 17.33px;
    padding-right: 10px;
}
.header2{
    width: 375px;
    height: 48px;
    top: 44px;
    display: flex;
    justify-content: space-between;
}
.header2-1{
    padding-left: 18px;
    padding-top: 10px;
}
.header2-2{
    padding-right: 8px;
}
.headline{
    width: 375px;
    height: 550px;
    background-image: url('header-shapes\ mobile.png');
}
.heading1{
    width: 327px;
    height: 150px;
    padding-top: 50px;
    padding-left: 20px;
}
.heading1 h1{
    font-family: 'Roboto';
    font-weight: 700;
    size: 40px;
    line-height: 52px;
    width: 327px;
    height: 146px;
}
.para1{
font-weight: 400;
font-size: 16px;
line-height: 24px;
padding-left: 20px;
}
.heading2{
    padding-left: 20px;
}
.heading2 h3{
    color: #7F8CFF;
    
}
.logo2{
    padding-left: 20px;
}

/*card section*/

.card-contain{
    width:375px;
    height: 2300px;       
}
.card{
    width: 327px;
    height: 527px;
    margin-top: 50px;
   border: 1px solid; 
    border-radius: 8px;
    border-color:  #DFE1E6;
    padding: 10px;
    margin-left: 20px;
    gap: 12px;
    margin-right: 0px;

}

.card img{
    display: flex;
    width: 325px;
    height: 220px;
    border-radius: 8px;
    border: 0px;
    justify-content: center;
}
/*.h1C h1{

}*/

.list {
    display:flex; 
    list-style-type:disc; 
    justify-content: space-between;
}

.list ul{
   margin-top: 0px ;
   margin-left: 0px;
   padding-left: 0px;
}
.card2{
    margin-top: 50px;
}
.card3{
    margin-top: 50px;
}
.card4{
    margin-top: 50px;
}
.pC{
    width:295px;
    height:76px;
}
.pC p{
    font-weight: 400;
    size: 15px;
    line-height: 24px;
}

.buttonsC{
width: 214px;
height: 24px;
}
.buttonsC button{
    background-color:  #EBEBFF;
    color:  #6070FF;
    border: 0px;
   border-radius: 8px;
   padding: 4px 12px; 
}
.buttonC{
   width: 126px;
   height: 48px;
   padding-top: 10px;
}
.buttonC button{
    width: 126px;
    height: 48px;
    top: 12px;
    border-radius: 8px;
    border: 1px solid #6070FF;
    color: #396DF2;
    padding: 12px;
    gap: 10px;
    background-color: #ffffff;
}
.about{
    width: 375px;
    height: 1062.15px;
}
.top h1{
    width: 327px;
    padding-top: 50px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    size: 40px;
    line-height: 52px;

}
.about{
    width: 375px;
    height: 900px;
   
}
.top{
    width: 327px;
    height: 400px;
   
    margin-left: 20px;
}
.top h1{
    font-family: 'Roboto';
    font-weight: 700;
    size: 40px;
    line-height: 52px;
    width: 327px;
}
.top p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
padding-left: 20px;
}
.top button{
    width: 126px;
    height: 48px;
    top: 12px;
    border-radius: 8px;
    border: 1px solid #6070FF;
    color: #396DF2;
    padding: 12px;
    gap: 10px;
    background-color: #ffffff;
    margin-left: 15px;
     
}
.social{
    width: 200px;
    height: 80px;
}
.social h3{
    color: #7F8CFF;
    padding-left: 20px;
}
.social img{
    padding-left: 10px;
}
.skillset{
   width: 327px;
   height: 464.15px;
   padding-left: 20px;
   margin-top: 10px; 
}
.he1{
   display: flex;
   justify-content: space-between; 
}
.he1 h1{
   margin-left: 12px;
   margin-top: 24px;
   font-family: 'Poppins';
   font-weight: 500;
   size: 20px;
   line-height: 24px;
    
}
.he1 button{
    width:40px px;
    height: 40px;
    margin-top: 16px;
    
    padding: 8px 0px 0px 0px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
     background-color: transparent;
     border: 0px;
}
.L1{
    display: flex;
   justify-content:start; 
   width: 303px;
   height: 66.2px;
   background-color:  #F7F7F9;
   margin-top: 5px;
}
.L1 img{
    width: 48px;
    height: 48px;
    margin-top: 9px;
    margin-left: 12px;   
}
.L1 p{
    width: 215px;
    height: 24px;
    margin-top: 21px;
    margin-left: 15px;
}

.contact{
    width: 375px;
    height: 670px;
   background-color: #6070FF;
   background-image: url('contact\ form\ shapes-mobile@2x.png');
   display: flex;
   flex-direction: column;
   text-align: center;
   border-radius: 100px 0px 0px 0px;
  
}
.contact h1{
   color: #FFFFFF;
   margin-top: 100px;
   margin-bottom: 0px;
   }
.contact p{
    font-family: 'Poppins';
    color:  #EBEBFF;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}   
.contact form input[type="text"]{
    width: 327px;
    height: 40px;
    top: 4991px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    border-radius: 5px;
    border: 0px;
}
.contact form input[type="email"]{
    width: 327px;
    height: 40px;
    top: 4991px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    border-radius: 5px;
    border: 0px;
}
.contact textarea {
    width: 327px;
    height: 150px; 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.contact form{
    height: 400px;
    top: 20px;
}
.contact form button{
 margin-right: 200px;
 width: 130px;
 height: 48px;
 margin-top: 10px;
 background-color:  #FFFFFF;
 border: 0px;
 border-radius: 8px;
 color:  #6070FF;
font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
}